.container {
    background-color: black;
    color: white;
    width: 100vw;
}

.left {
    width: 20vw;
}

.right {
    width: 80vw;
    margin-top: 10px;
    position: relative;
}

.logo>img {
    width: 124px;
    height: 50px;
}

.library {
    height: 80vh;
    position: relative;
}

.library-footer ul {
    position: absolute;
    bottom: 0;
}

.library-footer ul li {
    list-style: none;
}

.library-footer ul li a {
    text-decoration: none;
    color: white;
}

.right .header {
    background-color: #101010;
    justify-content: space-between;
    height: 55px;
}

.arrow span {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    position: relative;
    width: 32px;
    ;
}

.btn-1 {
    background-color: #eef8ff;
    border-radius: 9999px;
    padding: 10px 25px;
    font-weight: 700;
    box-sizing: border-box;
    border: 0px;
    margin: 0px 10px;
}

.btn-1:hover {
    font-weight: 800;
}

.card-container {
    flex-wrap: wrap;
}

.card {
    width: 160px;
    background-color: #181818;
    position: relative;
}

.card img {
    width: 160px;
    height: 200px;
}

.card p {
    font-size: 13px;
    color: #9c9c9c;
}

.circular-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00ff00;
    border: none;
    position: absolute;
    right: 12px;
    bottom: 20px;
    opacity: 0;
    transition: all 0.7s ease-out;
}

.play-icon {
    color: #000000;
    font-size: 22px;
}

.card:hover .circular-button {
    opacity: 1;
    bottom: 30px;
}

.songbar {
    background-color: #101010;
    bottom: 25px;
    position: fixed;
    width: 75%;
    border-radius: 20px;
}

.song-card ul {
    max-height: 300px;
    overflow: auto;
}

.song-card ul li {
    list-style: none;
    border: 1px solid white;
    margin: 5px 3px;
    padding: 5px 3px;
    justify-content: space-between;
}

.song-card .info {
    font-size: 12px;
    width: 130px;
}

.seekbar {
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 5px;
}

.circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 2px;
    transition: left 0.1s;
    top: -4px;
}

.songInfo {
    width: 100%;
    height: 35px;
    justify-content: space-between;
}

input {
    width: 80px;
}

.s-volume :hover ::after {
    input {
        display: block;
    }
}

.btns {
    position: fixed;
    left: 50%;
}

.hamburger {
    display: none;
}

.close {
    position: absolute;
    right: 0;
    display: none;
}

@media (max-width:875px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .circle {
        left: 3%;
    }

    .songInfo,
    .s-duration {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .s-volume {
        position: absolute;
        right: 0;
    }

    .right {
        width: 100vw;
    }

    .songbar {
        width: calc(100vw - 75px);
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 160px;
    }

    .card-Container {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .songInfo {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar {
        right: 25px;
    }
    .bg-img {
        background-image: url('/images/progress.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .button {
        display: flex;
    }

    .header {
        padding: 2px;
    }
    .library {
        height: 85vh;
    }

    .left {
        width: 100vw;
    }
    .btn-1 {
        background-color: #121212;
        color: white;
        border-radius: 9px;
        padding: 2px 5px;
        font-weight: 400;
        font-size: 12px;
        box-sizing: border-box;
        border: 0px;
        margin: 0px 3px;
    }
    .card img {
        width: 100%;
        height: 100%;
    }
    .songbar {
        width: calc(100vw - 50px);
        margin: 3px 5px;

    }
    .songInfo {
        flex-direction: column;
        height: 50px;
        position: relative;
    }
    .songInfo >*{
        margin: 5px auto;
    }
    .btns {
        position: relative;
        top: -35px;
        left: 0px;
    }

    
    .s-volume {
        display: none;
        position: absolute;
        bottom: 0;
    }
    .circle{
        left: 0%;
        top: -4px;
    }
}